<a href="https://colab.research.google.com/github/Max-FM/SPRINT-Colombia/blob/main/Extracting_Disaster_Dates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Extracting Disaster Dates from Extreme Weather Spreadsheet

## Importing Extreme Weather Event Spreadsheet

In [7]:
import pandas as pd

disaster_dates = pd.read_excel('/content/drive/Shared drives/Colombia SPRINT/Test Districts/Colombia extreme weather in test districts.xlsx')

extreme_weather_table[['Disaster', 'Start Year', 'Month', 'Day', 'End Year', 'End Month', 'End Day']]

      Disaster  Start Year  Month   Day  End Year  End Month  End Day
0      Drought      1998.0    1.0   1.0    1999.0        1.0      1.0
1        Flood      1999.0    1.0  10.0    1999.0        5.0     19.0
2   Earthquake      1999.0    1.0  25.0    1999.0        1.0     26.0
3        Flood      1999.0   10.0  28.0    1999.0       12.0     31.0
4        Flood      2000.0    5.0  18.0    2000.0        5.0     24.0
5     Wildfire      2001.0    8.0   1.0    2001.0        9.0      1.0
6      Drought      2002.0    1.0   1.0    2003.0        1.0      1.0
7        Flood      2002.0    4.0  24.0    2002.0        4.0     29.0
8        Flood      2003.0    8.0   1.0    2003.0       12.0      1.0
9        Flood      2004.0    1.0   1.0    2004.0        6.0     28.0
10     Drought      2004.0    1.0   1.0    2005.0        1.0      1.0
11       Flood      2005.0    4.0  12.0    2005.0        5.0      7.0
12       Flood      2005.0    9.0  15.0    2005.0       11.0     17.0
13       Flood      2006.0    1.0   1.0    2006.0        4.0     27.0
14     Drought      2006.0    1.0   1.0    2007.0        1.0      1.0
15       Flood      2007.0   10.0  20.0    2007.0       10.0     26.0
16       Flood      2008.0    1.0   1.0    2008.0        5.0     19.0
17       Flood      2008.0   11.0  16.0    2009.0        1.0     12.0
18     Drought         NaN    NaN   NaN       NaN        NaN      NaN
19    Wildfire      2010.0    1.0   1.0    2010.0        4.0      6.0
20       Flood      2010.0   10.0  30.0    2011.0        1.0     12.0
21       Flood      2011.0    2.0  10.0    2011.0        6.0      5.0
22       Flood      2011.0    9.0   1.0    2011.0       12.0     31.0
23       Flood      2012.0    3.0  15.0    2012.0        5.0     14.0
24  Earthquake      2013.0    2.0   9.0    2013.0        2.0      9.0
25       Flood      2013.0    9.0  15.0    2013.0       12.0      1.0
26     Drought      2015.0    8.0   1.0    2016.0        2.0      1.0
27       Storm      2016.0    9.0  20.0    2016.0        9.0     23.0
28       Flood      2017.0    3.0  17.0    2017.0        5.0     16.0
29       Flood      2017.0   12.0   1.0    2018.0        1.0      7.0
30     Drought      2018.0    1.0   1.0    2020.0        1.0      1.0
31       Flood      2019.0    2.0  20.0    2019.0        2.0     26.0
32       Flood      2020.0    6.0  10.0    2020.0        7.0     10.0

In [5]:
# Reimporting to ensure consistency in case cell is run multiple times.
extreme_weather_table = pd.read_excel('/content/drive/Shared drives/Colombia SPRINT/Test Districts/Colombia extreme weather in test districts.xlsx')

# Filling in empty values for dates.
extreme_weather_table['Day'].fillna(1, inplace=True)
extreme_weather_table['Month'].fillna(1, inplace=True)
extreme_weather_table['End Day'].fillna(1, inplace=True)
extreme_weather_table['End Month'].fillna(1, inplace=True)

# Dealing with duplicate start/end dates.
extreme_weather_table.loc[0, 'End Year'] = 1999 # Assuming this drought lasts a year.
extreme_weather_table.loc[1, 'End Day'] = 26 # Assuming this earthquake lasts a day.
extreme_weather_table.loc[5, 'End Month'] = 9 # Assuming this wildfire lasts a month.
extreme_weather_table.loc[31, 'End Month'] = 7 # Assuming this flood event lasts a month.

# Converting date columns into a single datetime column.
extreme_weather_table['Start_Datetime'] = pd.to_datetime(extreme_weather_table['Start Year'].astype(str) + '-' +
                                          extreme_weather_table['Month'].astype(int).astype(str) + '-' +
                                          extreme_weather_table['Day'].astype(int).astype(str))

extreme_weather_table['End_Datetime'] = pd.to_datetime(extreme_weather_table['End Year'].astype(str) + '-' +
                                        extreme_weather_table['End Month'].astype(int).astype(str) + '-' +
                                        extreme_weather_table['End Day'].astype(int).astype(str))


# Adding in missing events.
extreme_weather_table = extreme_weather_table.append({'Disaster': 'Drought', 
                                                     'Start_Datetime': pd.to_datetime('2009-01-01'), 
                                                     'End_Datetime': pd.to_datetime('2010-01-01')},
                                                     ignore_index=True) \
                                             .sort_values(by='Start_Datetime') \
                                             .reset_index() # 2009 El Nino drought.

disaster_dates = extreme_weather_table[['Disaster', 'Start_Datetime', 'End_Datetime']]

disaster_dates

      Disaster Start_Datetime End_Datetime
0      Drought     1998-01-01   1999-01-01
1        Flood     1999-01-10   1999-05-19
2   Earthquake     1999-01-25   1999-01-26
3        Flood     1999-10-28   1999-12-31
4        Flood     2000-05-18   2000-05-24
5     Wildfire     2001-08-01   2001-09-01
6      Drought     2002-01-01   2003-01-01
7        Flood     2002-04-24   2002-04-29
8        Flood     2003-08-01   2003-12-01
9        Flood     2004-01-01   2004-06-28
10     Drought     2004-01-01   2005-01-01
11       Flood     2005-04-12   2005-05-07
12       Flood     2005-09-15   2005-11-17
13       Flood     2006-01-01   2006-04-27
14     Drought     2006-01-01   2007-01-01
15       Flood     2007-10-20   2007-10-26
16       Flood     2008-01-01   2008-05-19
17       Flood     2008-11-16   2009-01-12
18     Drought     2009-01-01   2010-01-01
19    Wildfire     2010-01-01   2010-04-06
20       Flood     2010-10-30   2011-01-12
21       Flood     2011-02-10   2011-06-05
22       Flood     2011-09-01   2011-12-31
23       Flood     2012-03-15   2012-05-14
24  Earthquake     2013-02-09   2013-02-09
25       Flood     2013-09-15   2013-12-01
26     Drought     2015-08-01   2016-02-01
27       Storm     2016-09-20   2016-09-23
28       Flood     2017-03-17   2017-05-16
29       Flood     2017-12-01   2018-01-07
30     Drought     2018-01-01   2020-01-01
31       Flood     2019-02-20   2019-02-26
32       Flood     2020-06-10   2020-07-10

In [6]:
# Exporting extracted and amended disaster dates to CSV format.
disaster_dates.to_csv('/content/drive/Shared drives/Colombia SPRINT/Test Districts/disaster_dates.csv')